<h1>About Me</h1>
<div class="youtube">
    <iframe width="650" height="366" src="//www.youtube.com/embed/gJsD76zir_c" frameborder="0" allowfullscreen></iframe>
</div>
<p>
Hey world!<br> Im Nigel Zackerhia Blackman III Aka Nigz. <br>
Cosplay, NES games, Manga, Dance = all my time. <br>
Send me a note or message and I'll always reply! And if you want advice on anything feel free to ask me! English, Francais 日本語 <br><br>
Also, if you are learning or interested about how to make and produce manga, check out my <a title="Lucky Hit Crew Youtube Channel" href="https://www.youtube.com/user/Luckyhitcrew" target="_blank">YouTube page</a> dedicated to helping people get even better at their craft!
</p>