<h1>Contact</h1>

<p>From questions about manga, to commissions, and everything in between, let's chat!</p>

<iframe src="https://docs.google.com/forms/d/14lNiKjPZCmv0WIcZMWyBSdY06Td14aZMqzy25ZLDcmI/viewform?embedded=true" width="600" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>