<h1>Services</h1>

<p>Now offering commissions! View samples and order in the store, or send a message so we can talk more about your project!</p>

<p>Price list<br>
Basic line art.....................$10<br>
Line art with background...........$20 and up<br>
Fully inked art....................$25<br>
Coloured line art..................$35<br>
Full colour........................$50 and up<br>
Full manga page....................$75 and up<br>
</p>