<h1>Listing pagetexts</h1>

<table>
  <tr>
    <th>For Page</th>
    <th>HTML</th>
    <th></th>
  </tr>

<% @pagetexts.each do |pagetext| %>
  <tr>
    <td>
      <% if pagetext.id == 1 %>
        Home
      <% elsif pagetext.id == 1 %>
        About
      <% elsif pagetext.id == 1 %>
        Manga
      <% elsif pagetext.id == 1 %>
        Services
      <% elsif pagetext.id == 1 %>
        Media
      <% elsif pagetext.id == 6 %>
        Links
      <% elsif pagetext.id == 7 %>
        Contact
      <% end %>
    </td>
    <td><%= pagetext.text %></td>
    <td><%= link_to 'Edit', edit_pagetext_path(pagetext) %></td>
  </tr>
<% end %>
</table>
