<h1>Store</h1>

<div class="storecommissions">
<h2>Commissions</h2>
<% @commissions.each do |item| %>
  <%= render item %>
<% end %>
</div>

<div class="storemanga">
<h2>Manga</h2>
<% @mangas.each do |item| %>
  <%= render item %>
<% end %>
</div>

<div class="storeartwork">
<h2>Artwork</h2>
<% @artworks.each do |item| %>
  <%= render item %>
<% end %>
</div>
