/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face {
    font-family: 'press_start';
    src: url('/assets/fonts/pressstart2p-webfont.eot');
    src: url('/assets/fonts/pressstart2p-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/pressstart2p-webfont.woff') format('woff'),
         url('/assets/fonts/pressstart2p-webfont.ttf') format('truetype'),
         url('/assets/fonts/pressstart2p-webfont.svg#press_start_2pregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: '8bit';
    src: url('/assets/fonts/8-bit_wonder-webfont.eot');
    src: url('/assets/fonts/8-bit_wonder-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/8-bit_wonder-webfont.woff') format('woff'),
         url('/assets/fonts/8-bit_wonder-webfont.ttf') format('truetype'),
         url('/assets/fonts/8-bit_wonder-webfont.svg#8bit_wondernominal') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
  font-family: '8bit', helvetica, sans-serif;
  line-height: 1.3em;
  font-size:2em;
}

h2 {
   color: black;
}


.clearfloat {
  clear:both;    
}

body {
    margin:0;
}

.wrapper {
 width:960px;
 margin:0 auto;
}

/* header */

header {
 font-family:'8bit',helvetica,sans-serif;   
}

.banner {
 position:relative;
 display:block;
 height:300px;
 width:960px;
 padding:0 0;
 background:#0000FF url(LHCbg2.png) no-repeat 0 0;
 color:#FFF;
}

a.home {
display: block;
height: 300px;
width: 291px;
}

.menu {
 position:absolute;
 top:20px;
 right:20px;
}
.menu ul {
  margin:0px;
  padding:0px;
}
.menu li {
 list-style: none;
 float: left;
 width: 119px;
 text-align: center;
 height: 58px;
 font-size: 12px;
 line-height: 58px;
 margin: 0px 2px;
 color:#000;
}
.menu .mangamenu {
  background: url(mangamenu.png);  
}
.menu .servicemenu {
  background: url(servicesmenu.png);  
}
.menu .mediamenu {
  background: url(mediamenu.png);  
}
.menu .linksmenu {
  background: url(linksmenu.png);  
}
.menu .contactmenu {
  background: url(contactmenu.png);  
}
.menu li a {
    width:100%;
    height:100%;
    display:block;
    color:#FFF;
    font-family:'press_start', helvetica, sans-serif;
    text-decoration:none;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
}

.socialmedia {
 position:absolute;
 top:238px;
 right:20px;
}
.socialmedia ul {
  margin:0px;
  padding:0px;
}
.socialmedia li {
 list-style: none;
 float: left;
 width: 45px;
 height: 45px;
 font-size: 12px;
 margin: 0px 2px;
}
.socialmedia li a {
    width:100%;
    height:100%;
    display:block;
    color:#FFF;
}
.socialmedia .youtube  {
  background: url(yt8bit.png) no-repeat 0 0;    
}
.socialmedia .facebook  {
  background: url(fb8bit.png) no-repeat 0 0;    
}
.socialmedia .twitter  {
  background: url(t8bit.png) no-repeat 0 0;    
}
.socialmedia .deviantart  {
  background: url(da8bit.png) no-repeat 0 0;    
}
.socialmedia .gmail  {
  background: url(gmail8bit.png) no-repeat 0 0;    
}
.socialmedia .rss  {
  background: url(rss8bit.png) no-repeat 0 0;    
}
/* end header */


/* admin panel */

.adminmenu {

}

.adminmenu {
  list-style:none;
  margin:0;
  padding:5px;
  background:#00FF00;
  height:20px;
}

.adminmenu li {
  float:left;
  margin-left:5px;
}

/* content */

.leftcol, .rightcol {
    margin-top:20px;
    float:left;
}
.leftcol {
    width:250px;
}
.leftcol img {
    width:100%;
}

.rightcol {
    width:650px;
    margin-left:20px;
    padding:0 20px;
    font-family: 'press_start', helvetica, sans-serif;
    position:relative;
}

.rightcol img {
  max-width:650px;
}

.rightcol p {
  font-family: 'press_start', helvetica, sans-serif;
}


/* links */

.link {
  margin-top:10px;
  background: rgba(255,0,0,0.4);
  padding:5px;
}

/* 404 */

.notfoundlinks {
  position:absolute;
  top:225px;
  left:413px;
  width:169px;
}

.notfoundlinks a {
  display:block;
}

.notfoundcontact {
  margin-top:10px;
}

/* footer */

footer {
    margin-top:10px;
    width:940px;
    padding:10px;
    text-align:center;
    background:#0000FF;
    color:#FFF;
    font-family:'press_start',helvetica,sans-serif;
}

footer a {
    color: #FF00FF !important;
}

/* end footer */