// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.blogpost {
  margin-top:30px;
  background: rgba(0,255,0,0.4);
  padding:5px;
}

.blogpost .blogtitle {
  font-family:'8bit',helvetica, sans-serif;
  font-size:15px;
  line-height:15px;
}

.blogpost .blogdate {
  margin: 5px 0;
}

.blogpost .blogimage {
  float:left;
  max-width:300px !important;
  padding: 0 10px 10px 0;
}

.blogpost .blogvideo {
  float:left;
  padding: 0 10px 10px 0;
}