// Place all the styles related to the Updates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.update {
  margin-top:15px;
  background: rgba(0,255,0,0.4);
  padding:5px;
}

.update .updatetitle {
  font-family:'8bit',helvetica, sans-serif;
  font-size:15px;
  line-height:15px;
}

.update .updatedate {
  margin: 5px 0;
}